@{
	ViewData["Title"] = "Home Page";
}
@model Person

<h1>ValidationMessageFor</h1>
<p>
	Html.ValidationMessageFor(x => x.EmailAddress) = @Html.ValidationMessageFor(x => x.EmailAddress)
</p>
<p>
	Html.ValidationMessageFor(x => x.Address.Lines) = @Html.ValidationMessageFor(x => x.Address.Lines)
</p>
<h2>All validation errors</h2>
<p>
	@ViewData["All errors"]
</p>